{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}

<style type="text/css">

    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .no-select {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    #content {
      display: table;
      width: 100%;
      height: 100%;
    }

    .panel {
      display: table-cell;
      height: 100%;
    }

    #split {
      background-color: lightgray;
      width: 5px;
      border-left: 1px solid darkgray;
      border-right: 1px solid darkgray;
    }

    #split > a {
      display: block;
      width: 100%;
      height: 100%;
      cursor: ew-resize;
    }

    #sim {
      vertical-align: middle;
      text-align: center;
      background-color: black;
    }

    #code {
      width: 650px;
      vertical-align: top;
    }

    #code > table {
      width: 100%;
      height: 100%;
    }

    #menu-row {
      height: 0;
    }

    #menu {
      padding-left: 5px;
      padding-right: 5px;
      background-color: lightgray;
      border-bottom: 1px solid darkgray;
      white-space: nowrap;
    }

    #editor {
      display: block;
      width: 100%;
      height: 100%;
    }

    #canvas {
      background-color: #333333;
      display: inline-block;
      width: 100%;
    }

    button {
      padding: 5px;
    }

    #apply-btn {
      width: 100px;
    }

    #pause-toggle-btn {
      width: 75px;
    }

</style>
<script src="{% static 'js/ace/src-min-noconflict/ace.js' %}"></script>
<link rel="jsandbox" href="{% static 'js/jsandbox-worker.js' %}" />
<script src="{% static 'js/jsandbox.js' %}"></script>
<script src="{% static 'js/Box2dWeb-2.1.a.3.min.js' %}"></script>
<script src="{% static 'js/tankbots-sim.js' %}"></script>
<script type="text/javascript">

    jQuery.noConflict();
 
    jQuery(document).ready(function($) {

        var $canvas = $("#canvas");
        var world;
        var sandbox;

        // setup code panel
        {
            var editor = ace.edit("editor");
            //editor.setTheme("ace/theme/monokai");
            editor.getSession().setMode("ace/mode/javascript");
            
            function applyCode()
            {
                if (sandbox)
                {
                    sandbox.terminate();
                }
    
                sandbox = new JSandbox();
                sandbox.load("{% static 'js/tankbots-worker.js' %}", function() { 
                    sandbox.exec(editor.getValue());
                    $applyBtn.prop("disabled", true);
                });
            }
    
            applyCode();
    
            var $applyBtn = $("#apply-btn");
    
            editor.on("change", function(e) {
                $applyBtn.prop("disabled", false);
            });
    
            $applyBtn.click(function() {
                applyCode();
            });

            var $pauseBtn = $("#pause-toggle-btn");

            function toggleSim(running)
            {
                if (running)
                {
                    world.start();
                }
                else
                {
                    world.stop();
                }

                $pauseBtn.text(world.running() ? "Pause" : "Resume");
            }

            $pauseBtn.click(function() {
                toggleSim(!world.running());
            });

            $("#step-btn").click(function() {
                toggleSim(false);
                world.step();
            });
        }

        // setup ui behaviors
        {
            var $sim = $("#sim");
    
            function resizeSim()
            {
                var w = $sim.width();
                var r = $canvas.prop("width") / $canvas.prop("height");
                var h = w / r;
    
                if (h > $(window).height())
                {
                    h = $(window).height();
                    w = h * r;
                }
    
                $canvas.width(w).height(h);
            }
    
            $sim.resize(resizeSim);
    
            $(window).resize(function() {
                $canvas.width(0).height(0);
                resizeSim();
            });
    
            var dragging = false;
    
            $("#split > a")
                .dblclick(function() {
                    $canvas.width(0).height(0);
                    $("#code").toggle();
                    resizeSim();
                })
                .mousedown(function() {
                    dragging = true;
                })
    
            $(window)
                .mouseup(function() {
                    dragging = false;
                })
                .mousemove(function(event) {
                    if (dragging)
                    {
                        $canvas.width(0).height(0);
                        $("#code").width($(window).width() - event.pageX - 2);
                        resizeSim();
                    }
                });
        }

        // setup simulation
        {
            var worldWidth = $canvas.prop("width");
            var worldHeight = $canvas.prop("height");

            world = new TankBots.Sim.World(
                worldWidth, 
                worldHeight,
                function() {

                    var friends = [];

                    for (var i=0; i < world.tanks.length; i++)
                    {
                        friends.push(world.tanks[i].info());
                    }

                    for (var i=0; i < world.tanks.length; i++)
                    {
                        (function(tank) {

                            sandbox.eval(
                                "__dispatch__(input)", 
                                function(actions) {
                                    tank.applyActions(actions);
                                }, 
                                {
                                    "step": world.stepCount(),
                                    "tank": tank.info(),
                                    "friends": friends,
                                    "enemies": [],
                                }
                            );

                        })(world.tanks[i]);
                    }
                }
            );

            for (var i=0; i < 3; i++)
            {
                world.createTank(
                    Math.random() * worldWidth, 
                    Math.random() * worldHeight,
                    Math.random() * 2 * Math.PI
                );
            }

            world.createDebugDraw($canvas);
            world.start();
        }

    });

</script>

{% endblock %}

{% block content %}

<div id="content">
  <div id="sim" class="panel no-select">
    <canvas id="canvas" width="1280" height="800" />
  </div>
  <div id="split" class="panel"><a title="Resize (double-click to hide/show)"></a></div>
  <div id="code" class="panel">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr id="menu-row" class="no-select">
        {% spaceless %}
        <td id="menu">
          <button id="apply-btn">Apply</button>
          <button id="pause-toggle-btn">Pause</button>
          <button id="step-btn">Step</button>
        </td>
        {% endspaceless %}
      </tr>
      <tr>
        <td>
          <div id="editor">
/*
 * called on each step of the simulation for each tank you control
 * @param step - step count
 * @param tank - the tank
 * @param friends - array of friendly tanks in the world
 * @param enemies - array of enemy tanks in the world
 */
function __update__(step, tank, friends, enemies)
{
    return {
        //TODO: return action(s) to do in this step:
        // "accel": /* "forward" or "reverse" */,
        // "steer": /* "left" or "right" */,
        // "turret": /* "left", "right", or "fire" */,
    };
}
</div>
        </td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}
