{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/console-theme.css' %}" />
<style type="text/css">

    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .no-select {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    #content {
      display: table;
      width: 100%;
      height: 100%;
    }

    .panel {
      display: table-cell;
      height: 100%;
    }

    #split {
      background-color: lightgray;
      width: 5px;
      border-left: 1px solid darkgray;
      border-right: 1px solid darkgray;
    }

    #split > a {
      display: block;
      width: 100%;
      height: 100%;
      cursor: ew-resize;
    }

    #debug {
      position: relative;
    }

    #debug-content {
      display: table;
      width: 100%;
      height: 100%;
    }

    #debug-menu {
      background-color: rgba(200, 200, 200, 0.4);
      padding: 3px;
      position: absolute;
      display: none;
      top: 0;
      left: 50%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      width: 200px;
      margin-left: -110px;
      text-align: center;
      opacity: 0.1;
    }

    #debug-menu:hover {
      opacity: 1.0;
    }

    #debug:hover #debug-menu {
      display: block;
    }

    #sim {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      background-color: black;
      position: relative;
    }

    #sim:hover #sim-options {
      display: block;
    }

    #sim-options {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -150px; 
      width: 300px;
      background-color: rgba(200, 200, 200, 0.4);
      color: white;
      padding: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      opacity: 0.1;
      display: none;
    }

    #sim-options:hover {
      opacity: 1.0;
    }

    #console {
      width: 100%;
      height: 100%;
      display: none;
    }

    #watch {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      display: none;
      vertical-align: top;
    }

    #watch table {
      width: 100%;
      font-family: "Consolas", "Monaco", monospace;
      font-size: 8pt;
    }

    #watch table .name {
      width: 200px;
      background-color: #DDDDDD;
    }

    #watch table .value {
      white-space: pre;
    }

    #watch table th, #watch table td {
      padding: 3px;
      vertical-align: top;
    }

    #code {
      width: 650px;
      vertical-align: top;
    }

    #code > table {
      width: 100%;
      height: 100%;
    }

    #code-menu-row {
      height: 0;
    }

    #code-menu {
      padding-left: 5px;
      padding-right: 5px;
      background-color: lightgray;
      border-bottom: 1px solid darkgray;
      white-space: nowrap;
    }

    #editor {
      display: block;
      width: 100%;
      height: 100%;
    }

    #canvas {
      background-color: #333333;
      display: inline-block;
      width: 100%;
    }

    button {
      padding: 5px;
    }

    #apply-btn {
      width: 100px;
    }

    #pause-toggle-btn {
      width: 75px;
    }

</style>
<script src="{% static 'js/ace/src-min-noconflict/ace.js' %}"></script>
<link rel="jsandbox" href="{% static 'js/jsandbox-worker.js' %}" />
<script src="{% static 'js/jsandbox.js' %}"></script>
<script src="{% static 'js/Box2dWeb-2.1.a.3.min.js' %}"></script>
<script src="{% static 'js/tankbots-sim.js' %}"></script>
<script src="{% static 'js/tankbots-game.js' %}"></script>
<script src="{% static 'js/jqconsole.min.js' %}"></script>
<script type="text/javascript">

    jQuery.noConflict();
 
    jQuery(document).ready(function($) {

        var $canvas = $("#canvas");
        var world;
        var sandbox;
        var $sim = $("#sim");
        var $console = $("#console");
        var $watch = $("#watch");
        var jqconsole;
        var debugDraw;
        var applyCode;
        var controller;

        // setup code panel
        {
            var editor = ace.edit("editor");
            //editor.setTheme("ace/theme/monokai");
            editor.getSession().setMode("ace/mode/javascript");
            
            applyCode = function() {
                jqconsole.Write("\n--- @Apply: " + new Date() + " ---\n\n", "jqconsole-info");

                if (sandbox)
                {
                    sandbox.terminate();
                }
    
                sandbox = new JSandbox();
                sandbox.load("{% static 'js/tankbots-worker.js' %}", function() { 
                    sandbox.exec(editor.getValue(), function() {
                        $applyBtn.prop("disabled", true);
            
                        sandbox.eval(
                            "__dispatch_init__(input)",
                            function(result)
                            {
                                updateConsoleLogs(function() {
                                });
                            },
                            {
                                "world": world.info(),
                                "friends": getFriends(),
                            }
                        );
                    });
                });
            };
    
    
            var $applyBtn = $("#apply-btn");
    
            editor.on("change", function(e) {
                $applyBtn.prop("disabled", false);
            });
    
            $applyBtn.click(function() {
                applyCode();
            });

            var $pauseBtn = $("#pause-toggle-btn");

            function toggleSim(running)
            {
                if (running)
                {
                    world.start();
                }
                else
                {
                    world.stop();
                }

                $pauseBtn.text(world.running() ? "Pause" : "Resume");
            }

            $pauseBtn.click(function() {
                toggleSim(!world.running());
            });

            $("#step-btn").click(function() {
                toggleSim(false);
                world.step();
            });
        }

        function appendConsoleLogs(messages)
        {
            try
            {
                for (var i=0; i < messages.length; i++)
                {
                    jqconsole.Write(messages[i].message + "\n", messages[i].className);
                }
            }
            catch (ex)
            {}
        }

        function updateConsoleLogs(callback)
        {
            if (!callback)
            {
                callback = function(){};
            }

            if (sandbox)
            {
                sandbox.eval(
                    "__clear_log_messages__()",
                    function(messages)
                    {
                        appendConsoleLogs(messages);
                        callback();
                    }
                );
            }
        }

        // setup console
        {
            // Creating the console.
            var helpMessage = [
                ":help   show help message",
                ":clear  clear console",
                "Ctrl+C  cancel command",
                "",
                "",
            ].join("\n");

            jqconsole = $("#console").jqconsole(helpMessage, ">>> ");
    
            // Abort prompt on Ctrl+C.
            jqconsole.RegisterShortcut("C", function() {
              jqconsole.AbortPrompt();
              handler();
            });

            // matching
            jqconsole.RegisterMatching("{", "}", "brace");
            jqconsole.RegisterMatching("(", ")", "paran");
            jqconsole.RegisterMatching("[", "]", "bracket");

            var SPECIAL_COMMANDS = {
                ":help": function() { jqconsole.Write(helpMessage); },
                ":clear": function() { jqconsole.Clear(); },
            };

            // Handle a command.
            var handler = function(command) {

                if (SPECIAL_COMMANDS[command])
                {
                    SPECIAL_COMMANDS[command]();
                }
                else if (command)
                {
                    sandbox.eval(
                        command, 
                        function(result) {
                            updateConsoleLogs(function() {

                                if (result === undefined)
                                {
                                    return;
                                }

                                jqconsole.Write(
                                    JSON.stringify(result, undefined, 2) + "\n"
                                );
                            });
                        },
                        undefined,
                        function(ex) {
                            jqconsole.Write("error: " + ex + "\n", "jqconsole-error");
                        });
                }

                jqconsole.Prompt(true, handler, function(command) {

                    if (SPECIAL_COMMANDS[command])
                    {
                        return false;
                    }

                    try {
                        Function(command);
                    } 
                    catch (ex)
                    {
                        if (/[\[\{\(]$/.test(command))
                        {
                            return 1;
                        }
                        else
                        {
                            return 0;
                        }
                    }

                    return false;
                });
            };
    
            // Initiate the first prompt.
            handler();
        }

        // setup ui behaviors
        {
            function resizeSim()
            {
                var w = $sim.width();
                var r = $canvas.prop("width") / $canvas.prop("height");
                var h = w / r;
    
                if (h > $(window).height())
                {
                    h = $(window).height();
                    w = h * r;
                }
    
                $canvas.width(w).height(h);

                $watch
                    .height($(window).height())
                    .css("max-height", $(window).height());
            }
    
            $sim.resize(resizeSim);
    
            $(window).resize(function() {
                $canvas.width(0).height(0);
                resizeSim();
            });

            resizeSim();

            $("#show-sim-btn").click(function() {
                $sim.show();
                $console.hide();
                $watch.hide();
                resizeSim();
            });
            $("#show-console-btn").click(function() {
                $sim.hide();
                $console.show();
                $watch.hide();
                jqconsole.Focus();
            });
            $("#show-watch-btn").click(function() {
                $sim.hide();
                $console.hide();
                $watch.show();
            });

            $("#sim-options-show-debug-overlays").change(function() {
                world.debugOverlaysEnabled = $(this).prop("checked");
            });
    
            var dragging = false;
    
            $("#split > a")
                .dblclick(function() {
                    $canvas.width(0).height(0);
                    $("#code").toggle();
                    resizeSim();
                })
                .mousedown(function() {
                    dragging = true;
                })
    
            $(window)
                .mouseup(function() {
                    dragging = false;
                })
                .mousemove(function(event) {
                    if (dragging)
                    {
                        $canvas.width(0).height(0);
                        $("#code").width($(window).width() - event.pageX - 2);
                        resizeSim();
                    }
                });
        }

        // setup simulation
        {
            var worldWidth = $canvas.prop("width");
            var worldHeight = $canvas.prop("height");

            function getFriends()
            {
                var friends = [];

                for (var id in world.tanks)
                {
                    friends.push(world.tanks[id].info());
                }

                return friends;
            }

            function getBullets()
            {
                var bullets = [];

                for (var i=0; i < world.bullets.length; i++)
                {
                    bullets.push(world.bullets[i].info());
                }

                return bullets;
            }

            world = new TankBots.Sim.World(
                worldWidth, 
                worldHeight,
                {
                    onstep: function() {

                        controller.step();

                        sandbox.eval(
                            "__step__(input)",
                            function (data) {
                                try
                                {
                                    var watch = data["watch"];
                                    var $table = $watch.find("tbody");
                                    $table.empty();
        
                                    var keys = [];
                                    
                                    for (var key in watch)
                                    {
                                        keys.push(key);
                                    }
        
                                    keys.sort();
                                    
                                    for (var i=0; i < keys.length; i++)
                                    {
                                        var key = keys[i];
                                        $row = $("<tr />");
                                        $row.append($("<td class='name' />").text(key));
                                        $row.append($("<td class='value' />").text(
                                            JSON.stringify(watch[key], undefined, 2)
                                        ));
                                        $table.append($row);
                                    }
                                }
                                catch (ex)
                                {}

                                function findTank(id)
                                {
                                    return world.tanks[id];
                                }

                                try
                                {
                                    for (var id in data["command"])
                                    {
                                        var tank = findTank(id);
                                        tank.applyActions(data["command"][id]);
                                    }
                                }
                                catch (ex)
                                {}

                                try
                                {
                                    world.debugRects = data["rects"];
                                }
                                catch (ex)
                                {}

                                appendConsoleLogs(data["logs"]);
                            },
                            {
                                "step": world.stepCount(),
                                "friends": getFriends(),
                                "enemies": [],
                                "bullets": getBullets(),
                                "collisions": world.collisionsInfo,
                            }
                        );
                    },
                }
            );

            debugDraw = world.createDebugDraw($canvas);
            controller = new {{ controller_class }}(world, {
                log: function(message) {
                    jqconsole.Write(message + "\n", "jqconsole-info");
                },
                missionBegin: function() {
                    jqconsole.Write("-- @Mission: new mission started --\n", 'jqconsole-info');
                },
                missionEnd: function(success, score) {
                    jqconsole.Write(
                        "-- @Mission: mission " + (success ? "succeeded" : "failed") + 
                        "; score: " + score + " --\n", 
                        "jqconsole-info"
                    );
                },
            });
        }

        applyCode();
        world.start();

    });

</script>

{% endblock %}

{% block content %}

<div id="content">
  <div id="debug" class="panel">
    {% spaceless %}
    <div id="debug-content">
      <div id="sim" class="no-select">
        <canvas id="canvas" width="1920" height="1200"></canvas>
        <div id="sim-options">
          <span>
            <input type="checkbox" id="sim-options-show-debug-overlays" checked />
            <label for="sim-options-show-debug-overlays">Show debug overlays</label>
          </span>
        </div>
      </div>
      <div id="console"></div>
      <div id="watch">
        <table>
          <thead>
            <tr>
              <th class="name">Name</th>
              <th class="value">Value</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
    <div id="debug-menu">
      <button id="show-sim-btn">Simulation</button>
      <button id="show-console-btn">Console</button>
      <button id="show-watch-btn">Watch</button>
    </div>
    {% endspaceless %}
  </div>
  <div id="split" class="panel"><a title="Resize (double-click to hide/show)"></a></div>
  <div id="code" class="panel">
    <table border="0" cellpadding="0" cellspacing="0">
      <tr id="code-menu-row" class="no-select">
        {% spaceless %}
        <td id="code-menu">
          <button id="apply-btn">Apply</button>
          <button id="pause-toggle-btn">Pause</button>
          <button id="step-btn">Step</button>
        </td>
        {% endspaceless %}
      </tr>
      <tr>
        <td>
          <div id="editor">
/* 
 * called once when the simulation is initialized 
 * @param world - info about the world
 * @param friends - array of friendly tanks in the world
 */
function __init__(world, friends)
{
    console.info("world: " + JSON.stringify(world, undefined, 2));
    console.info("friends: " + JSON.stringify(friends, undefined, 2));
}

/*
 * called on each step of the simulation
 * @param step - step count
 * @param friends - array of friendly tanks in the world
 * @param enemies - array of enemy tanks in the world
 * @param bullets - array of bullets in the world
 * @param collisions - collisions that happened in this step
 */
function __update__(step, friends, enemies, bullets, collisions)
{
    // use the __watch__ function to display values in the watch list
    __watch__("step", step);
    __watch__("friends", friends);
    __watch__("enemies", enemies);
}

/*
 * called on each step of the simulation for each tank you control
 * @param step - step count
 * @param tank - the tank to command
 */
function __command__(step, tank)
{
    return {
        //TODO: return action(s) to do in this step:
        // "accel": /* "forward" or "reverse" */,
        // "steer": /* "left" or "right" */,
        // "turret": /* "left", "right", or "fire" */,
    };
}
</div>
        </td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}
